---
layout: default
title: Categorias
description: Bienvenido a las categorías del blog, aquí puedes navegar por el blog a través de las categorías
permalink: /categories
keywords:
    - categorias
    - categorias del blog
    - blog
    - dylan meca
    - categorias del blog de dylan meca
---

<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo de carga progresiva de texto</title>
    <style>
      .archive-item {
        opacity: 0; /* establecer la opacidad inicial en 0 */
        transition: opacity 1s ease-in-out; /* transición suave a la opacidad completa */
      }
    </style>
  </head>
  <body>
    <h2 id="indice">Índice</h2>
    <p>Bienvenido a las categorías del blog, aquí puedes navegar por el blog a través de las categorías. Elige una categoría:</p>
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <ul>
      <li><a href="#{{ category_name }}">{{ category_name }}</a></li>
    </ul>
    {% endfor %}

    <h2 id="categorias">Categorías</h2>
    <div id="archives">
      {% for category in site.categories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        <h3 id="{{ category_name }}">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
          <ul>
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            <li><p>{{ post.description }}</p></li>
          </ul>
        </article>
        {% endfor %}
        <a href="#indice">Volver al índice</a>
      </div>
      {% endfor %}
    </div>

    <script>
      const archiveItems = document.querySelectorAll('.archive-item');
      const options = {
        rootMargin: '0px',
        threshold: 0.1
      };

      function onIntersection(entries) {
        entries.forEach(entry => {
          if (entry.intersectionRatio > 0) {
            entry.target.style.opacity = 1; // cambiar la opacidad a 1 cuando esté en la pantalla
          }
        });
      }

      const observer = new IntersectionObserver(onIntersection, options);
      archiveItems.forEach(item => {
        observer.observe(item);
      });
    </script>
  </body>
</html>
