---
layout: default
title: Categorias
description: Bienvenido a las categorías del blog, aquí puedes navegar por el blog a través de las categorías
permalink: /categories
keywords:
    - categorias
    - categorias del blog
    - blog
    - dylan meca
    - categorias del blog de dylan meca
---

<script> 
(function() { // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
var d = document, s = d.createElement('script'); // IMPORTANT: Replace EXAMPLE with your forum shortname!
s.src = 'https://dylan14567.disqus.com/recommendations.js'; s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>
Please enable JavaScript to view the 
<a href="https://disqus.com/?ref_noscript" rel="nofollow">
comments powered by Disqus.
</a>
</noscript>

<h2 id="indice">Índice</h2>
<div id="disqus_recommendations"></div>
<p>Bienvenido a las categorías del blog, aquí puedes navegar por 
el blog a través de las categorías. Elige una categoría:</p>
{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<ul>
   <li><a href="#{{ category_name }}">{{ category_name }}</a></li>
</ul>
{% endfor %}

<h2 id="categorias">Categorías</h2>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 id="{{ category_name }}">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
    <ul>
	<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        <li><p>{{ post.description }}</p></li>
    </ul>
    </article>
    {% endfor %}
    <a href="#indice">Volver al índice</a>
  </div>
{% endfor %}
</div>
