---
layout: default
title: Categorias
description: Bienvenido a las categorías del blog, aquí puedes navegar por el blog a través de las categorías
permalink: /categories
keywords:
    - categorias
    - categorias del blog
    - blog
    - dylan meca
    - categorias del blog de dylan meca
---

<h2 id="indice">Índice</h2>
<p>Bienvenido a las categorías del blog, aquí puedes navegar por 
el blog a través de las categorías. Elige una categoría:</p>
{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<ul>
   <li><a href="#{{ category_name }}">{{ category_name }}</a></li>
</ul>
{% endfor %}

<h2 id="categorias">Categorías</h2>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group" data-category="{{ category | first }}">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 id="{{ category_name }}">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] limit:5 %}
    <article class="archive-item">
    <ul>
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        <li><p>{{ post.description }}</p></li>
    </ul>
    </article>
    {% endfor %}
    {% if site.categories[category_name].size > 5 %}
        <button class="load-more" data-category="{{ category_name }}">Cargar más publicaciones</button>
    {% endif %}
    <a href="#indice">Volver al índice</a>
  </div>
{% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.archive-group').each(function() {
    var category = $(this).attr('data-category');
    $(this).find('.archive-item').slice(5).hide();
    if ($(this).find('.archive-item').length > 5) {
      $(this).find('.load-more').click(function() {
        $(this).siblings('.archive-item:hidden').slice(0, 5).slideDown();
        if ($(this).siblings('.archive-item:hidden').length == 0) {
            $(this).fadeOut();
        }
     });
    }
  });
});
</script>

