* {
   margin:0;
   padding:0;

}

body {
   background:#e6e6e6;

}

header, .main, footer {

    background:#fff;
    width:90%;
    max-width:1000px;
    margin:20px auto;



}

#particles-js {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
}


header nav {

       background:#528FD5;
       overflow:hidden;



}

header nav ul {

     list-style:none;


}


header nav ul li {

       float:left;



}


header nav ul li a {
         
          padding:10px 20px;
          display:block;
          color:#fff;
          text-decoration:none;


}



header nav ul li a:hover {
           background:#75ACEC;


}


.main .articles {

      width:70%;
      float:left;
      background:#fff;


}

aside {

   width:30%;
   background:#ff8000;
   float:left;
   padding:20px;
   box-sizing:border-box;


}


footer {

    background:#000;
    color:#fff;


}

