* {
   margin:0;
   padding:0;

}

body {
   background:#e6e6e6;

}

header, .main, footer {

    background:#fff;
    width:90%;
    max-width:1000px;
    margin:20px auto;



}

header nav {

       background:#528FD5;
       overflow:hidden;



}

header nav ul {

     list-style:none;


}


header nav ul li {

       float:left;



}



header nav ul li a:hover {
           background:#75ACEC;


}


.main .articles {

      width:70%;
      float:left;


}
