form {
    width:25%;
    border:1px solid:#ccc;
    margin:20px;
    padding:20px;


}

label {

   font-size:12px;
   display:block;
   width:100%;


}


textarea {

     resize:vertical;
     max-height:300px;
     min-height:100px;




}


input, textarea {

    margin-bottom:20px;
    width:100%;
    padding:10px;
    -webkit-box sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #ccc;



}


input:focus, textarea:focus {

   border:1px solid #1668C4;



}

