*{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
    background-color: #e2e9f2;
}
td{
  background: #2d5373;
  color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 0.2em;
    text-align: center;
    cursor: default;
    font-family: 'Bangers', Verdana, Tahoma, sans-serif;
}

td:hover {
    background: #d2ac8c;
    color: #505050;
    transition-duration: 400ms;
}

#unDiv {
  text-align: center;
}

#result{
  border: #ccc .3rem solid;
  color: #333;
  margin-top: 1px;
    padding: 10px 30px 10px 30px;
    text-align: right;
    font-family: 'IBM Plex Sans', serif;
  background-color: #7FFF00;
}

    
