<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> La Radiante Noche </title>
    <link rel="shortcut icon" type="image/x-icon" href="unnamed-ConvertImage.ico">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: superdylanyt }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <p> Soy Dylan Alexander, tambien conocido en youtube como SUPERDYLANYT. mi nombre de usuario de github es dylan14567. Soy un programador de videojuegos y aplicaciones y experto en informática. </p>
        <div class="g-ytsubscribe" data-channelid="UCXZow-eof6WFmu4armVahAA" data-layout="full" data-count="default"></div>


      </header>
      <section>

      {{ content }}

      </section>
     
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  
  </body>
</html>
