<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Seguridad SUPERDYLANYT </title>
    <link rel="shortcut icon" type="image/x-icon" href="unnamed-ConvertImage.ico">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: superdylanyt }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <div class="g-ytsubscribe" data-channelid="UCXZow-eof6WFmu4armVahAA" data-layout="full" data-count="default"></div>


      
        <section id="downloads">
          <a href="https://github.com/dylan14567" class="btn btn-github"><span class="icon"></span>Perfil de Github</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    


  </body>
</html>
